@import './CommonStyles.css';

.add-button {
  background-color: #28a745;
  color: white;
}

.add-button:hover {
  background-color: #218838;
}

.discard-button {
  background-color: #dc3545;
  color: white;
}

.discard-button:hover {
  background-color: #c82333;
}

.edit-button {
  background-color: #ffc107;
  color: white;
}

.edit-button:hover {
  background-color: #e0a800;
}