@import './CommonStyles.css';

.App-content {
  flex: 1; /* Take up remaining space */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 40px; /* Adjusted space for the fixed header */
  margin-bottom: 30px; /* Space for the fixed status bar */
  width: 100%;
  box-sizing: border-box;
}

.add-page-button {
  background-color: #007bff;
  color: white;
}

.add-page-button:hover {
  background-color: #0056b3;
}

.submit-button {
  background-color: #28a745;
  color: white;
}

.submit-button:hover {
  background-color: #218838;
}

.discard-button {
  background-color: #dc3545;
  color: white;
}

.discard-button:hover {
  background-color: #c82333;
}