.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #282c34;
  color: white;
  text-align: center;
  height: 40px; /* Reduced height */
  box-sizing: border-box;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* Ensure it stays on top */
}

.App-header h1 {
  font-size: 1.2em; /* Adjusted font size */
  margin: 0;
}

.settings-button {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.settings-button:hover {
  color: #ddd;
}