.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.App-header {
  background-color: #282c34;
  padding: 10px; /* Reduced padding to make the header smaller */
  color: white;
  text-align: center;
  height: 50px; /* Fixed height */
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  position: fixed; /* Fixed position */
  top: 0;
  width: 100%;
  z-index: 1000; /* Ensure it stays on top */
}

.App-header h1 {
  font-size: 1.5em; /* Adjusted font size to make the header smaller */
  margin: 0;
}

.App-content {
  margin-top: 60px; /* Add margin to avoid content being hidden behind the header */
  padding: 20px;
}