.pdf-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.pdf-frame {
  width: 100%;
  height: 500px;
  border: none;
}

.pdf-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  width: 200px;
}