.picture-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.picture-item-container {
  width: 100px;
  height: 141px; /* A4 aspect ratio (1:1.414) */
  margin: 5px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.picture-item {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}